# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Virtual environments
venv/
env/
.venv/
ENV/

# PyInstaller
*.manifest
*.spec

# ==========================
# VS Code
# ==========================
.vscode/

# ==========================
# Mac
# ==========================
.DS_Store

# ==========================
# Jupyter Notebooks
# ==========================
.ipynb_checkpoints/

# ==========================
# Experiment Outputs
# ==========================
results/
plots/
*.csv
*.json

# ==========================
# Logs
# ==========================
*.log

# ==========================
# Temporary files
# ==========================
*.tmp
*.swp

mazelib/



