# Python
__pycache__/
*.py[cod]
*$py.class


# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Virtual environments
venv/
env/
.venv/
ENV/

# PyInstaller
*.manifest
*.spec

# ==========================
# VS Code
# ==========================
.vscode/

# ==========================
# Mac
# ==========================
.DS_Store

# Experiment Outputs
# results/
# plots/
# *.csv
# *.json

# Logs
*.log

# Temporary files
*.tmp
*.swp

# Obsolete files
scripts/
old_videos/
plots_1/







